@font-face {
  font-family: "BalooTammudu2-Regular";
  src: local("BalooTammundu2-Regular"),
    url("./fonts/BalooTammudu2-Regular.ttf") format("truetype");
}

body {
  color: rgb(214, 248, 214);
  font-family: BalooTammudu2-Regular;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #55505c;
}

h2 {
  font-size: 36px;
}

ul {
  list-style-type: none;
}

p {
  font-size: 26px;
  color: #55505c;
}

/* #region underline animation */

a {
  position: relative;
  color: rgb(214, 248, 214);
  text-decoration: none;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 0 0;
  padding: 10px 0 0 0;
}

a:hover {
  color: rgb(127, 198, 164);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(127, 198, 164);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/* #endregion underline animation */
/* #region  Background */
.background {
  background-color: #eaf7ea;
  height: 410vh;
  position: absolute;
  z-index: -2;
  width: 100%;
}

.big-circle {
  height: 1400px;
  width: 1400px;
  border-radius: 50%;
  position: absolute;
  left: -900px;
  top: -700px;
  z-index: -1;
  background-color: #5d737e1e;
}

.little-circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: absolute;
  right: 150px;
  top: 450px;
  z-index: -1;
  background-color: #5d737e1e;
}

.little-circle-two {
  height: 800px;
  width: 800px;
  border-radius: 50%;
  position: absolute;
  left: -150px;
  top: 1450px;
  z-index: -1;
  background-color: #5d737e1e;
}

/* #endregion */
/* #region Navigation */
.nav {
  position: absolute;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-opened {
  background: transparent;
  transition: opacity 1s ease-in;
  height: 60%;
  width: 90%;
  display: flex;
  justify-content: right;
  background-color: #55505c;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 4px rgba(22, 22, 22, 0.356);
}

.nav-ul {
  text-align: center;
  height: 100%;
  min-width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-li {
  font-size: 20px;
  text-align: center;
}

/* #endregion */
/* #region Scroll Bar  */
::-webkit-scrollbar {
  width: 18px;
}
::-webkit-scrollbar-track {
  padding: 50px 0 0 0;
  background: #eaf7ea;
}
::-webkit-scrollbar-thumb {
  background: rgb(20, 44, 71);
  border-radius: 15px;
  border: solid 5px #eaf7ea;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(24, 53, 87, 0.404);
}

/* #endregion */
/* #region  Landing View */
.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title {
  border-bottom: 3px solid #55505c;
  font-size: 55px;
}

.landing-subtitle {
  font-size: 28px;
  margin-top: 25px;
  color: #55505c;
}

/* #endregion */
/* #region  About Me */
.about-me {
  height: 100vh;
  padding: 150px;
}

.about-me-title {
  text-decoration: underline;
  font-size: 45px;
  text-align: center;
  height: 150px;
}

.about-me-p-container {
  display: flex;
  justify-content: space-evenly;
}

.about-me-p {
  width: 40%;
}

/* #endregion */
/* #region Stack View */
.stack {
  height: 100vh;
  display: flex;
  align-items: center;
}

.stacks {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main-stack {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
}

.technologies {
  width: 42.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: rgba(93, 115, 126);
  border-radius: 15px;
  box-shadow: 5px 5px 25px 5px rgba(2, 2, 2, 0.479);
}

.technologies h2 {
  padding: 0 0 0 35px;
  text-decoration: underline;
}

.technologies ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 90%;
}

.technologies li {
  width: 40%;
  text-align: center;
  margin: auto;
  font-size: 25px;
}

.react-logo {
  height: 50px;
}

.javascript-logo {
  height: 60px;
}

.main-stack > div {
  height: 60px;
  display: flex;
  justify-content: center;
  width: 45%;
}

.main-stack span {
  font-size: 30px;
  text-align: center;
  padding-left: 10px;
}

/* #endregion */
/* #region  Projects */

.projects {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project-container {
  height: 80%;
  width: 42.5%;
  padding: 20px;
  background-color: rgba(93, 115, 126);
  border-radius: 15px;
  box-shadow: 5px 5px 25px 5px rgba(2, 2, 2, 0.479);
}

.fullstack-project-block {
  display: flex;
  flex-wrap: wrap;
}

.project-container h2 {
  text-decoration: underline;
  padding: 0 0 0 25px;
}

.project-description {
  font-size: 18px;
  height: 20%;
  color: rgb(214, 248, 214);
}

.project-link {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-link:hover {
  cursor: pointer;
}

.project-link span {
  text-align: center;
}

.big-project-title {
  height: 20%;
}

.website-screen {
  width: 45%;
}

.mini-projects {
  width: 45%;
  height: 75%;
  background-color: rgba(7, 7, 7, 0.575);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-title {
  font-size: 36px;
  padding-top: 25px;
}

.mini-project-section {
  height: 80%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.mini-container {
  height: 45%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.docs-img {
  width: 45%;
}

/* #endregion */
/* #region Contact */

.contact {
  height: 10vh;
  background-color: #55505c;
  box-shadow: -5px -5px 25px 5px rgba(2, 2, 2, 0.479);
}

.contact-links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.each-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-img {
  height: 40px;
  margin-right: 15px;
}

.contact-text {
  padding-top: 5px;
}

/* #endregion */
/* #region  Icons */
.envelope-icon {
  font-size: 32px;
  margin: 0 15px 0 0;
}

.fab {
  font-size: 32px;
  padding: 0 15px 0 0;
}

.fa-linkedin-in {
  content: "\f0e1";
}

.fa-github {
  content: "\f09b";
}

.separator {
  border-top: 1px solid rgb(214, 248, 214);
  width: 80%;
}

.scroll-to-top {
  height: 75px;
  width: 75px;
  position: sticky;
  top: 91vh;
  left: 1820px;
  background: rgba(93, 115, 126);
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12.5px 0 0 0;
  border-radius: 5px;
  box-shadow: -2px -2px 5px 2px rgba(0, 0, 0, 0.253);
}

.scroll-to-top a {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto;
}

/* #endregion */
