@font-face {
  font-family: "BalooTammudu2-Regular";
  src: local("BalooTammundu2-Regular"),
    url("./fonts/BalooTammudu2-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 15px;
}

body {
  font-family: BalooTammudu2-Regular;
  color: #eaeaea;
  overflow: overlay;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3,
h5,
h6 {
  font-size: 1.5rem;
}

h4 {
  font-size: 18px;
  padding: 10px 0 0 0;
}

ul {
  list-style-type: none;
}

li {
  font-size: 14px;
}

p {
  font-size: 16px;
  color: #55505c;
}

.particle-background {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -123;
}

/* #region underline animation */

a {
  position: relative;
  color: #eaeaee;
  text-decoration: none;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 0 0;
  padding: 10px 0 0 0;
}

a:hover {
  color: rgb(127, 198, 164);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(127, 198, 164);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/* #endregion underline animation */
/* #region  Background */
.background {
  height: 410vh;
  position: absolute;
  z-index: -2;
  width: 100%;
}

.big-circle {
  height: 1400px;
  width: 1400px;
  border-radius: 50%;
  position: absolute;
  right: 1500px;
  top: -700px;
  z-index: -1;
  background-color: #5d737e1e;
}

.little-circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: absolute;
  right: 150px;
  top: 450px;
  z-index: -1;
  background-color: #5d737e1e;
}

.little-circle-two {
  height: 800px;
  width: 800px;
  border-radius: 50%;
  position: absolute;
  right: 1300px;
  top: 1450px;
  z-index: -1;
  background-color: #5d737e1e;
}

/* #endregion */
/* #region Navigation */
.nav {
  position: absolute;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-opened {
  background: transparent;
  transition: opacity 1s ease-in;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: right;
  background-color: #6c617c00;
}

.nav ul {
  text-align: center;
  height: 100%;
  min-width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav li {
  font-size: 16px;
  text-align: center;
}

/* #endregion */
/* #region Scroll Bar  */
::-webkit-scrollbar {
  width: 8px;
  margin: 10px;
}
::-webkit-scrollbar-track {
  margin: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgb(20, 44, 71);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(24, 53, 87, 0.404);
}
::-webkit-scrollbar-thumb:active {
  background: #55505c7c;
}

/* #endregion */
/* #region  Landing View */
.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.landing section {
  position: relative;
  top: -100px;
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.landing h1 {
  width: 100%;
}

.landing h3 {
  margin-top: 25px;
  text-align: left;
}

/* #endregion */
/* #region  About Me */
.about-me {
  min-height: 100vh;
  padding: 50px 0 0 0;
  background-color: #eaeaea;
  z-index: 5;
}

.about-me > section {
  height: 100%;
}

.about-me h2 {
  text-decoration: underline;
  text-align: center;
  border: none;
  color: #55505c;
}

.about-me-p-container {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-me p {
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

/* #endregion */
/* #region Stack View */
.stack {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 0 0 0;
}

.stacks {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-stack {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90%;
}

.technologies {
  min-height: 60vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technologies ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.technologies li {
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 18px;
}

.technologies div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.technologies img {
  max-height: 50px;
}

.main-stack > div {
  height: 60px;
  display: flex;
  justify-content: center;
  width: 45%;
}

.extras {
  margin: 80px 0 0 0;
  background: #eaeaeafd;
  color: #55505c;
  width: 100%;
  min-height: 80vh;
}

/* #endregion */
/* #region  Projects */
.projects {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0 0 0;
}

.projects a {
  height: 40px;
  color: #eaf7ea;
  background: #55505c;
  padding: 20px 10px 10px 10px;
  margin: auto;
  border-radius: 5px;
}

.projects > section {
  min-height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projects > section > section {
  height: 90vh;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 0;
}

.projects p {
  text-align: center;
}

.project-link:hover {
  cursor: pointer;
}

.projects img {
  margin: auto;
  max-width: 80%;
}

.website-screen {
  max-width: 80%;
}

.docs-img {
  max-width: 80%;
  margin: auto;
}

/* #endregion */
/* #region Contact */

.contact {
  min-height: 10vh;
  background-color: #55505c;
  box-shadow: -5px -5px 25px 5px rgba(2, 2, 2, 0.479);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 0;
}

.contact div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-img {
  height: 40px;
  margin-right: 15px;
}

.contact span {
  color: #eaf7ea;
  font-size: 18px;
}

/* #endregion */
/* #region  Icons */
.envelope-icon {
  font-size: 24px;
  margin: 5px 15px 0 0;
  color: #eaf7ea;
}

.fab {
  font-size: 24px;
  padding: 15px 15px 0 0;
  color: #eaf7ea;
}

.fa-linkedin-in {
  content: "\f0e1";
}

.fa-github {
  content: "\f09b";
}

.separator {
  width: 100%;
  margin: 45px 0 25px 10%;
  border-top: 2px solid #55505c;
  width: 80%;
}

.scroll-to-top {
  height: 75px;
  width: 75px;
  position: sticky;
  top: 91vh;
  left: 1820px;
  background: rgba(93, 115, 126);
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12.5px 0 0 0;
  border-radius: 5px;
  box-shadow: -2px -2px 5px 2px rgba(0, 0, 0, 0.253);
}

.scroll-to-top a {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto;
}

/* #endregion */

@media screen and (min-width: 769px) {
  h1 {
    font-size: 7rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 3rem;
  }

  p {
    font-size: 24px;
  }

  .landing > section {
    top: -300px;
  }

  .about-me {
    padding: 150px;
  }

  .about-me p {
    width: 40%;
    font-size: 28px;
  }

  .separator {
    width: 0;
    height: 0;
  }

  .technologies div {
    width: 40%;
  }

  .technologies li {
    font-size: 28px;
  }

  .technologies ul {
    width: 70%;
  }

  .technologies img {
    max-height: 90px;
  }

  .projects img,
  .website-screen {
    width: 80%;
  }

  .contact {
    flex-direction: row;
  }

  .nav li {
    font-size: 24px;
  }

  #projects a::before {
    display: none;
  }

  #projects > section {
    flex-direction: row;
  }

  #projects > section > section {
    width: 40%;
  }
}
